
<form class="card" [formGroup]="form" (ngSubmit)="submit()">
    <h2>enter to panel administrator</h2>
    <div class="alert alert-danger" *ngIf="auth.error$ | async as error">{{error}}</div>
    <div class="alert alert-info" *ngIf="message">{{message}}</div>

    <div
     class="form-control"
     [ngClass]="{invalid: form.get('email').touched && form.get('email').invalid }"
     >
        <label for='email'>Email:</label>
        <input id='email' type='email' formControlName="email">
        <div
        *ngIf="form.get('email').touched && form.get('email').invalid"
         class="validation"
         >
            <small *ngIf="form.get('email').errors.required">
                Please, enter your email.
            </small>
            <small *ngIf="form.get('email').errors.email">
                Please, enter correct email.
            </small>
        </div>
    </div>

    <div 
    class="form-control"
    [ngClass]="{invalid: form.get('password').touched && form.get('password').invalid }"
    >
        <label for='password'>Password:</label>
        <input id='password' type='password' formControlName="password">
        <div
        *ngIf="form.get('password').touched && form.get('password').invalid"
        class="validation">
        <small *ngIf="form.get('password').errors.required">
            Please, enter your password.
        </small>
        <small *ngIf="form.get('password').errors.minlength">
            Password must be at least
             {{form.get('password').errors.minlength.requiredLength}} 
             characters; now password is 
             {{form.get('password').errors.minlength.actualLength}}
              characters.
        </small>
        </div>
    </div>

<button
 type='submit' 
 class="btn btn-primary"
 [disabled]="form.invalid || submitted"
 >ACCEPT</button>
</form>
<div class="about_container">
    <div class="app-info">
        <h3>About this application</h3>
        <p>
            Hello, everyone this is my first angular app. In this application I tried to demonstrate my skills and big features of Angular 9.
        To enter the admin panel you need to enter the Email: admin@admin.com and Password: 123456. 
        the code can be viewed by clicking on the link to the <a href="https://github.com/nikita-shkuratov/ng-blog" target='_blank'>GIT</a>.
        </p>
    </div>
</div>