.about_container{
    display: flex;
    justify-content: center;  
}

.app-info{
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
}